<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>

</head>
<body>

    <!-- Your HTML content goes here -->
    <h1>My To Do List</h1>
    <table>
        <tr>
            <th>Item</th>
        </tr>
        {% for task in object_list %}
        <tr>
            <th>{{task.title}}</th>
        </tr>
        {% empty %}
        <h3> No Items </h3>
        {% endfor %}
    </table>
    
</body>
</html>
